{% load staticfiles %}
{{% extends "base.html %}}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <title>TreasureGram</title>
</head>
<body>

<h1> TreasureGram </h1>
{% for treasure in treasures %}
    <a href="/user/{{treasure.user.username}}/">by:{{ treasure.user.username }}</a>
    <a href="/{{treasure.id}}/">
        <p>{{treasure.name}}</p>
       <!-- <img src="{{ treasure.image.url}}">--->
    </a>
{% endfor %}
<form enctype="multipart/form-data" action="post_url/" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="submit"/>

</form>
</body>

</html>
{% endblock %}
